{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stockabily</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
  <link href="../public/styles/style.css " rel="stylesheet">
  <link rel="shortcut icon" href="../public/images/Logo1.jpg" type="image/x-icon" />

</head>

<body> --}}

  <!-- <p>Start typing:</p> -->
  <!--Make sure the form has the autocomplete function switched off:-->
  <!-- <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text">
        </div>
        <input type="submit">
    </form> -->
  <div class="hd">
    <img src="images/Logo.jpg" alt="headerImg" width="100%">
  </div>

  <div class="container " id="display">
    <p> Stock market search</p>
    <nav class="level " id="search">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <p>Enter the stock name or symbol<p>
              </p>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <form autocomplete="off" action="/action_page.php">
                <div class="autocomplete" style="width:300px;">
                  <input class="input" id="myInput" type="text" placeholder="Search stock">
                </div>
                <!-- <input type="submit"> -->
              </form>
              <!-- <form autocomplete="off" action="/action_page.php">
                                <div class="autocomplete" style="width:300px;">
                                    <input class="input" type="text" placeholder="Search stock">
                                </div>
                            </form> -->
            </p>
          </div>

        </div>
      </div>
      <!-- Right side -->
      <div class="level-right">
        <p class="control">
          <button class="button">
            Search Stock
          </button>
        </p>
      </div>
    </nav>
  </div>
  <div class="container" id="info">
    <table class="table table is-fullwidth">
      <thead id="table">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Company Name</th>
          <th scope="col">Stock Price</th>
          <th scope="col">Opening Price</th>
          <th scope="col">% Change</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <thead id="table_content">
          {{!-- <th scope="col">Symbol</th>
          <th scope="col">Company Name</th>
          <th scope="col">Stock Price</th>
          <th scope="col">Opening Price</th>
          <th scope="col">% Change</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Remove</th> --}}
          {{#each stocks}}
            <tr>
              <th><button class= "symbol">{{this.ticker}}</button></th>
              <th scope="col">{{this.name}}</th>
              <th scope="col">{{this.price}}</th>
              <th scope="col">{{this.open}}</th>
              <th scope="col">{{this.percentChange}}</th>
              <th scope="col">{{this.dayHigh}}</th>
              <th scope="col">{{this.dayLow}}</th>
              <th scope="col">{{this.marketCap}}</th>
              {{!-- <th scope="col">{{this.}}</th> --}}
            </tr>  
          {{/each}}
          

      </thead>
  </div>
  </table>

  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_72e3c"></div>
    <div class="tradingview-widget-copyright"><a id="web_chart" href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
        rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  </div>
  <!-- TradingView Widget END -->
  </div>

  {{!-- <div class="container">
    <div class="tabs is-boxed is-hovered">
      <ul class="is-hovered">
        <li class="is-active " id="info_tab">
          <a>
            <span class="icon is-small "><i class="fas fa-image" aria-hidden="true"></i></span>
            <span id="stockinfo">Stock Detail</span>
          </a>
        </li>
        <li id="news_tab">
          <a>
            <span class="icon is-small "><i class="fas fa-film" aria-hidden="true"></i></span>
            <span id="newsfeed">News Feed</span>
          </a>
        </li>
      </ul>
    </div>
  </div> --}}
  <div class="container" id="stockcontent">
    <div id="stockinfo_id">
    </div>
    <div id="stocknews_id">
    </div> 
  </div>

  <script src="js/AMEXstocksymbol.js"></script>
  <script src="js/NASDAQstocksymbol.js"></script>
  <script src="js/NYSEstocksymbol.js"></script>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  {{!-- <script src="../routes/apiRoutes.js"></script> --}}

{{!-- </body>

</html> --}}